
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'images/logo.png' %}" alt="images" width="100px" >
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="userpage" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="servicespage" class="nav-link px-2 text-white">Services</a></li>
          <li><a href="uploadpost" class="nav-link px-2 text-white">Upload Items</a></li>
          <li><a href="postlist" class="nav-link px-2 text-white">Items</a></li>


          <li><a href="aboutpage" class="nav-link px-2 text-white">About</a></li>
          <li><a href="contactpage" class="nav-link px-2 text-white">Contact Us</a></li>
        </ul>

      

        <div class="text-end">
          {% if user is not none %}
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
         <button type="button" class="btn btn-warning me-2">{{user}}</button></a>


          {% else %}
          <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{% url 'signup' %}"><button type="button" class="btn btn-warning">Sign-up</button></a>
          
          {% endif %}

         
        </div>
      </div>
    </div>
  </header>
</body>
</html>