{% extends "layouts/index.html" %}

{% block content %}
{% include "templates/includes/header.html" %}
{% for msg in messages %}

{% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">
    {{msg}}
</div>
{% endif %}

{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger">
    {{msg}}
</div>
{% endif %}

{% endfor %}
<h1>Log In</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log In</button>
</form>
{% endblock  %}